/*---RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none;
  /* no indicator for tab outline */

}

/*---BASE STYLES----*/
.app {
  width: 10em;
  height: 10em;
  color: #ffffffb2;
  background-color: hsl(0, 0%, 7%);



}

/*---STYLES----*/
.container-nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.nav {
  color: white;
  width: 40em;
  background-image: rgb(25, 81, 248);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 0px 50px 2px rgba(4, 14, 43, 0.918);

}

.dd-toggle {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 13px;
  cursor: pointer;
  margin-top: 30px;
}


.dd-toggle:hover,
.dd-toggle:focus {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 255, 255, 0.068);
  box-shadow: 0 -20px 60px 2px cyan;
  opacity: 0.4;
  border-top: 2px solid cyan;
}

/* -----MAIN-----------*/

.title {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  padding: 1rem 1rem;
  font-family: 'potta one', 'rubik scribble', 'sans serif';
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  color: rgb(230, 252, 243);
  background-image: linear-gradient(to right, rgba(34, 36, 35, 0.188), rgba(0, 255, 149, 0.129));
  margin-top: 1rem;

  box-shadow: 1px 1px 400px 200px rgba(9, 241, 160, 0.103);
  border-radius: 10px 100px/120px;

}


.hero {
  padding: 0 10px;
  margin: 5px;
  font-family: 'potta one';
  font-size: 36px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: hsla(0, 0%, 9%, 0.795);


  transform: translateZ(100px);
  border: 1px solid rgba(0, 255, 255, 0.123);
  border-left: none;
  border-right: none;
  padding-bottom: 4rem;
  z-index: 10px;

}

.hero__welcome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: rgb(213, 227, 236);
}

.hero__details {
  font-size: 1.4rem;
  opacity: 1;
  color: rgba(7, 252, 138, 0.9);
  font-size: 17px;
  padding-top: 2rem;
}

.btn {
  font-size: 1rem;
  color: white;
  opacity: 1;
  height: 20px;
}


/* -----MEDIA QUERIES-----*/

@media (max-width: 1400px) {

  .title {
    flex-direction: column;
    align-items: space-between;
  }

  .hero {
    margin: 0 5rem;
  }

  .nav {

    margin: 0 40
  }
}

@media (max-width: 743px) {
  .app {
    width: 100%;
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .nav {
    width: 100vw;
    margin: 0 5rem;
    font-size: 17px;
  }
}

@media (max-width: 460px) {

  .title {
    flex-direction: column;
    align-items: space-between;
  }

  .nav {
    display: none;
  }

}